@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Quicksand&display=swap');

*{
    font-family: 'Quicksand', sans-serif;
}

h3{
    font-family: 'Lato', sans-serif;
}

button{
    cursor: pointer;
    margin: 1vh 0;
    height: 30px;
    width: 30vw;
    border-radius: 5px;
    border: none;
}

input{
    margin: 1vh 0;
    margin-left: 5px;
}


form{
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.textAnalyzer{
    display: flex;
    margin: 0 5vw;
    min-width: 500px;
}

.textAnalyzerColumn{
    width: 50%;
    margin: 0 2vw;
    text-align: justify;
}

.markers{
    display: flex;
    flex-direction: column;
}

